* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

/* Navbar */
nav {
    width: 120px;
    height: inherit;
    position: absolute;
    right: 0;
}

nav ul {
    height: inherit;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.tab {
    flex: 1;
    border: hidden;
}

.box {
    height: inherit;
    width: 100%;
}

/* attributes */
.bg-purple {
    background-color: mediumorchid;
}
.bg-red {
    background-color: mediumvioletred;
}
.bg-green {
    background-color: mediumseagreen;
}
.bg-blue {
    background-color: mediumslateblue;
}

.hidden {
    display: none;
}